{% extends 'blog/base.html' %}
{% if user.is_authenticated %}
{% block title %}Django Girls blog - {{ post.title }}{% endblock %}
{% endif %}
{% block post_edit %}<a href="{% url 'post_edit' pk=post.pk %}">Editar Post</a>{% endblock %}
                        {% block content %}
                        {% if post.published_date %}
                        <div class="page-header">
                            <h1>{{ post.title }}</h1>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-body">
                                {{ post.text|linebreaksbr }}
                                <p><small class="pull-right">Published: {{ post.published_date }}</small></p>
                            </div>
                        </div>
                        {% endif %}
                        {% endblock %}