{% extends 'blog/base.html' %}
                        {% block content %}
                            {% if post.published_date %}
                            <div class="page-header">
                                <h1>{{ post.title }} <small class="pull-right">Published: {{ post.published_date }}</small></h1>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-body">
                                    {{ post.text|linebreaksbr }}
                                </div>
                            </div>
                            {% endif %}
                        {% endblock %}
                        {% block sidebar %}
                            Sidebar
                        {% endblock %}
            {% block footer %}
                Footer
            {% endblock %}